<%- partial('../header.ejs') %>

<tr>
    <td valign="top" align="left" style="padding:0px 15px 0px 15px;color:#333333;font-size:14px;line-height:22px;text-align:left;font-weight:bolder">
        Hi,
        <%= recipientName%>
    </td>
</tr>

<tr>
    <td valign='top' align='left' style='padding:10px 15px 0px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        We are having more traffic than expectations
    </td>
</tr>
<tr>
    <td valign='top' align='left' style='padding:10px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        But don’t worry! You can cancel your orders right now.
    </td>
</tr>

<tr>
    <td valign="top" align="left" style="padding:10px 15px 0px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none">Regards,</td>
</tr>

<tr>
    <td valign="top" align="left" style="padding:0px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none">
        Faldax
    </td>
</tr>

<%- partial('../footer.ejs') %>