<%- partial('../header.ejs') %>

<tr>
    <td valign="top" align="left" style="padding:0px 15px 0px 15px;color:#333333;font-size:14px;line-height:22px;text-align:left;font-weight:bolder">
        Hi
        <%= recipientName%>,
    </td>
</tr>

<tr>
    <td valign='top' align='left' style='padding:10px 15px 0px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        <b>Our systems have detected an anomaly, and FALDAX administrators have frozen all trade operations and wallets
            in
            the interest of maintaining security of your funds and information.</b>
    </td>
</tr>
<tr>
    <td valign='top' align='left' style='padding:10px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        We are working to determine the cause of this issue and will resume all operations as soon as possible. At the
        moment, this is a precaution and we believe that your funds and information are safe. If you notice anything
        out of the ordinary in your account, please submit a ticket or email support@faldax.com.
    </td>
</tr>

<tr>
    <td valign='top' align='left' style='padding:10px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        Our system will automatically close any open orders if 24 hours pass and the exchange has not opened.
        Alternatively, you may cancel any open orders manually or let the remain in the event that trading resumes
        within the 24 hour window.
    </td>
</tr>

<tr>
    <td valign='top' align='left' style='padding:10px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        You will receive a notification if anything important changes and when trading resumes. Please visit our
        twitter page, Discord server, or Facebook page for more frequent updates.
    </td>
</tr>

<tr>
    <td valign='top' align='left' style='padding:10px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        We appreciate your patience and your business.
    </td>
</tr>

<tr>
    <td valign="top" align="left" style="padding:10px 15px 0px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none">Sincerely,</td>
</tr>

<tr>
    <td valign="top" align="left" style="padding:0px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none">
        FALDAX Support
    </td>
</tr>

<%- partial('../footer.ejs') %>