<%- partial('../header.ejs') %>

<tr>
    <td valign="top" align="left" style="padding:0px 15px 0px 15px;color:#333333;font-size:14px;line-height:22px;text-align:left;font-weight:bolder">
        Hi,
        <%= recipientName%>
    </td>
</tr>

<tr>
    <td valign='top' align='left' style='padding:10px 15px 0px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        We heard that you lost your FALDAX password.
    </td>
</tr>
<tr>
    <td valign='top' align='left' style='padding:10px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none'>
        But don’t worry! You can use the following link to reset your password:
    </td>
</tr>

<tr>
    <td valign='top' align='left' style='padding:10px 15px 0px 15px;font-size:14px;line-height:20px;text-align:center;font-weight:none'>
        <a href="<%=token%>" style="background-color: #25a8ab;color: #ffffff;width:200px;padding: 10px 16px;font-size: 14px;text-decoration:none;border-radius: 4px;display: inline-block;text-align:center;">
            Reset your password</a>
    </td>
</tr>

<tr>
    <td valign="top" align="left" style="padding:10px 15px 0px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none">Regards,</td>
</tr>

<tr>
    <td valign="top" align="left" style="padding:0px 15px 15px 15px;font-size:14px;line-height:20px;text-align:left;font-weight:none">
        FALDAX
    </td>
</tr>

<%- partial('../footer.ejs') %>